@media screen and (max-width: 768px) {
  main {
    width: 100%;
    max-width: 100%;
    padding: 3rem 3rem 0 2rem;
  }
  footer {
    padding: 3rem 3rem 0 2rem;
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  main {
    width: 100%;
    max-width: 100%;
    padding: 2rem 0rem 0 0;
  }

  footer {
    width: 100%;
    padding: 2rem 0rem 0 0;
  }
}
