* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  max-width: 100%;
  padding: 3rem 4rem 2rem 2rem;
  min-height: 100vh;
}
